body {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: 2rem;
    margin: 0 0 0 0;
}

figure>img{
    width: 150%;
}

figure>figcaption {
    text-align: center;
}

main{
    display: flex;
    margin: 10rem;
    justify-content: space-between;
}

div p{
    padding-left: 16rem;
}

div {
    text-align: justify;
}

div>h1{
    padding-left: 16rem;
}