body {
    background-color: rgb(16, 16, 16);
    color: white;
    font-size: 2rem;
    margin: 0 0 0 0;
    text-align: center;
}

figure>img{
    width: 110%;
}

figure>figcaption {
    text-align: center;
}

main{
    display: flex;
    margin: 0 auto;
}

div p{
    text-align:justify;
}